.board {
    padding: 10px;
    width: 844px;
    margin: 0 auto;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}

.square {
    height: 90px;
    width: 90px;
    display: inline-block;
    margin: 0;
    background: burlywood;
    position: relative;
}

.piece {
    font-size: 42px;
    font-family: "Meiryo", "MS PGothic", "sans-serif";
    text-align: center;
}

.piece:hover,
.piece:focus {
    cursor: pointer;
}

/* piece shape */
.piece {
    border-bottom: 65px solid beige;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 60px;
    position: absolute;
    top: 15px;
    left: 10px;
    
    -webkit-box-shadow: 0px 6px 0px brown;
    -moz-box-shadow: 0px 6px 0px brown;
    box-shadow: 0px 6px 0px brown;
}

.piece:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 30px;
    border-bottom: 10px;
    border-right: 30px;

    border-style: solid;
    border-color: transparent transparent beige;

    position: absolute;
    top: -13px;
    left: 0;
}

.white.piece {
    transform: rotate(180deg);
    top: 5px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.shadow {
    transform: rotate(180deg);
    background: brown;

    width: 60px;
    height: 6px;

    position: absolute;
    top: 70px;
    left: 15px;
}

.shadow:before {
    content: "";
    height: 0;
    width: 0;
    border-left: 30px;
    border-bottom: 10px;
    border-right: 30px;

    border-style: solid;
    border-color: transparent transparent brown;

    position: absolute;
    top: -13px;
    left: 0;
}

.white-captures,
.black-captures {
    border: 2px black solid;
    background: burlywood;
    height: 90px;
    margin: 10px;
    position: relative;
}

.white-captures .piece,
.black-captures .piece,
.white-captures .shadow {
    position: relative;
    display: inline-block;
}

.white-captures .shadow {
    top: 0;
    left: 50px;
    margin: -30px;
}

.prompt {
    position: fixed;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 20%;
    background: beige;
    font-size: 48px;
    font-family: "Meiryo", "MS PGothic", "sans-serif";
    text-align: center;
    border: 5px solid brown;
    padding: 20px;
    padding-top: 30px;
    display: none;
}

@media only screen and (max-width: 400px) {
    .piece:before {
        top: -11px;
    }

    .board {
        border: 1px solid black;
        left: 0;
    }
}