.selected {
    background: cyan;
}

.previous-move {
    background: yellow;
}

.possible-move {
    background: magenta;
}

.flipped {
    transform: rotate(180deg);
}

.promoted {
    color: red;
}